RewriteEngine On

# Serve existing files/directories normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise show 404 page
RewriteRule ^ 404.php [L]
